.footer {
  background-color: var(--clr-primary);
  box-shadow: 0 0 0.5em var(--clr-secondary);
}

.footer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-block: 0.5em;
}
